<!-- The main page of playlister -->
<!DOCTYPE html>
<html>
  <head>
    <title>Playlister 2</title>
  </head>
  <body>
    <h1><%= artist.name %></h1>
    <h2>Songs</h2>
    <ul>
      <% artist.songs.each do |song| %>
        <li><ahref="songs/<%= song.to_slug %>.html"><%= artist.name %> - <%= song.name %> - <%= song.genre.name %></a></li>
      <% end %>
    </ul>
    <h2>Genres</h2>
      <ul>
      <% artist.genres.each do |genre| %>
        <li><ahref="genres/<%= genre.to_slug %>.html"><%= genre.name %></a></li>
      <% end %>
      </ul>
  </body>
</html>